doctype html
html

  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/index.css')

  body
    .main-container
      .title-bar
        .title-text
            span PL<span style="color: orange;">A</span>ST<span style="color: orange;">I</span>C
        .title-subtext the <span style="color: orange;">game</span>&nbsp;
        .social-container
          a.title-social.facebook(href="https://www.facebook.com/pg/PlasticTheGame/" target="_blank")
          a.title-social.instagram(href="https://www.instagram.com/plasticthegame/" target="_blank")
          a.title-social.twitter(href="https://twitter.com/PlasticTheGame/" target="_blank")
          a.title-social.youtube(href="https://www.youtube.com/" target="_blank")
        
      .hero-image-container
        .hero-image.one
          .hero-image-inner
        .hero-image.two
          .hero-image-inner
        .hero-image.three
          .hero-image-inner
          
      .nav
        .nav-button.selected(style="padding-left: 15px; padding-right: 15px;")
          .glyphicon.glyphicon-home.noselect
        .nav-button.noselect News
        .nav-button.noselect Screenshots
        .nav-button.noselect Videos
        .nav-button.noselect About
        .nav-button.noselect Contact
      
      .content
        .content-title Game <span style="color: orange;">Overview</span>
        .content-image(style="transform: rotate(-2deg);")
          .content-image-inner(style="background-image: url('/images/gameplay.jpg');")
        .content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis vehicula auctor. Sed pretium iaculis sem pellentesque egestas. Pellentesque feugiat efficitur libero non condimentum. Vivamus tincidunt dignissim euismod. Nullam nunc enim, vestibulum ac porta sit amet, dignissim sit amet arcu. Aenean placerat quam ut risus iaculis, eu pretium massa pharetra. Donec gravida libero id est tristique, sed pharetra tellus placerat.
        
        .content-seperator
        
        .content-title <span style="color: orange;">Support</span> the Game
        .content-text Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse sagittis vehicula auctor. Sed pretium iaculis sem pellentesque egestas. Pellentesque feugiat efficitur libero non condimentum. Vivamus tincidunt dignissim euismod. Nullam nunc enim, vestibulum ac porta sit amet, dignissim sit amet arcu. Aenean placerat quam ut risus iaculis, eu pretium massa pharetra. Donec gravida libero id est tristique, sed pharetra tellus placerat.
        
        img.content-patreon(src="/images/patreon.png")
        .content-or or
        embed.content-gofundme(src="https://www.gofundme.com/mvc.php?route=widgets/mediawidget&fund=8amwk3-video-games&image=1&coinfo=1&preview=1" type="text/html")
          
          
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        