/* Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Jockey+One);

:root {
  --main-color: #0094FF;
  --main-color-bright: #4DB4FF;
}

html {
  margin: 0px;
  padding: 0px;
}

body {
  background: #fff;
  font: 16px "Jockey One", Helvetica, Arial, sans-serif;
  color: #444444;
  margin: 0px;
  padding: 0px;
  height: 100vh;
  overflow-x: none;
  overflow-y: auto;
}

.main-container {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    min-height: 100vh;
  padding-bottom: 30px;
}


.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ccc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #444;
}

::-webkit-scrollbar-thumb:hover {
  background: orange;
}

@media only screen and (max-width: 800px) {
  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
}


/* Title */

.title-bar {
    background: #444;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
    border-radius: 0px 0px 6px 6px;
    overflow: auto;
    padding-bottom: 10px;
}

.title-text {
    PADDING: 10px 0px 0px 10px;
    float: left;
    color: #FFF;
    font-size: 80px;
    font-weight: 500;
    line-height: 58px;
    overflow: hidden;
}


.title-subtext {
    display: inline-block;
    padding-top: 12px;
    padding-left: 10px;
    color: #FFF;
    font-size: 30px;
    line-height: 80%;
}

.social-container {
    float: right;
    padding-top: 15px;
}

.title-social {
    float: right;
    width: 54px;
    height: 50px;
    margin-right: 20px;
	background-repeat: no-repeat;
	background-position: 50% 50%;
    cursor: pointer;
    transition: all 0.1s;
}

.title-social:hover {
    transform: translate(0px, -2px);
}

.facebook {
    background-size: 40%;
    background-image: url('/images/w_facebook_icn.png');
}

.instagram {
    background-size: 40%;
    background-image: url('/images/w_instagram_icn.png');
}

.twitter {
    background-size: 50%;
    background-image: url('/images/w_twitter_icn.png');
}

.youtube {
    background-size: 50%;
    background-image: url('/images/w_youtube_icn.png');
}


.facebook:hover {
    background-image: url('/images/facebook_icn.png');
}

.instagram:hover {
    background-image: url('/images/instagram_icn.png');
}

.twitter:hover {
    background-image: url('/images/twitter_icn.png');
}

.youtube:hover {
    background-image: url('/images/youtube_icn.png');
}


/* Hero Image */

.hero-image-container {
    position: relative;
    height: 50vw;
    max-height: 500px;
    z-index: 1;
}

.hero-image {
    position: absolute;
    width: 54%;
    background: #FFFFFF;
    padding: 1%;
    box-shadow: 3px 3px 15px 2px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 0.1s;
}

.hero-image.one {
    top: 6%;
    left: -6%;
    transform: rotate(10deg);
    z-index: 2;
}
.hero-image.one .hero-image-inner {
	background-image: url('/images/dino.jpg');
}

.hero-image.two {
    top: 34%;
    left: 22%;
    transform: rotate(4deg);
    z-index: 4;
}
.hero-image.two .hero-image-inner {
	background-image: url('/images/vehicle.jpg');
}

.hero-image.three {
    top: 10px;
    right: 0%;
    transform: rotate(-6deg);
    z-index: 3;
}
.hero-image.three .hero-image-inner {
	background-image: url('/images/play.jpg');
}

.hero-image:hover {
    transform: none;
    background: orange;
    z-index: 5;
}

.hero-image-inner {
    position: relative;
    padding-top: 56.25%;
    background: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.nav {
    position: relative;
    padding: 10px;
    background: #444;
    box-shadow: 0px 3px 5px rgba(0,0,0,0.5);
    border-radius: 6px;
    text-align: center;
}

.nav-button {
    font-size: 20px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    display: inline-block;
    border-radius: 4px;
    margin-right: 15px;
    cursor: pointer;
    transition: all 0.1s;
}
.nav-button.selected {
    color: orange;
}
.nav-button:hover {
    color: orange;
    transform: translate(0px, -2px);
}
.nav-button.selected:hover {
    transform: translate(0px, 0px);
}

.nav-button:last-child {
    margin-right: 0px;
}


/* Content */

.content {
    position: relative;
    padding: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.content-title {
    max-width: 800px;
    margin: 0 auto;
    font-size: 44px;
    margin-bottom: 10px;
}
.content-image {
    position: relative;
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
    background: #FFFFFF;
    padding: 1%;
    box-shadow: 3px 3px 15px 2px rgba(0,0,0,0.3);
    cursor: pointer;
    transition: all 0.1s;
}
.content-image-inner {
    position: relative;
    padding-top: 56.25%;
    background: #ccc;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}

.content-image:hover {
    transform: none!important;
    background: orange;
}
.content-text {
    max-width: 800px;
    margin: 0 auto;
}

.content-seperator {
    height: 4px;
    background: #444;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 30px;
    width: 50%;
}

.content-support-container-left {
    width: calc(50% - 30px);
    float: left;
}

.content-support {
    overflow: auto;
    text-align: center;
}

.content-patreon {
    width: 220px;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.2s;
    margin-bottom: 10px;
    margin-top: 30px;
}
.content-patreon:hover {
    transform: translate(0px, -5px);
}

.content-or {
    text-align: center;
    font-size: 20px;
    
}

.content-gofundme {
    width: 240px;
    height: 344px;
    margin: 0 auto;
    transition: all 0.2s;
    margin-top: 20px;
}
.content-gofundme:hover {
    transform: translate(0px, -5px);
}

#preload-01 { background: url('/images/facebook_icn.png') no-repeat -9999px -9999px; }
#preload-02 { background: url('/images/instagram_icn.png') no-repeat -9999px -9999px; }
#preload-03 { background: url('/images/twitter_icn.png') no-repeat -9999px -9999px; }
#preload-04 { background: url('/images/youtube_icn.png') no-repeat -9999px -9999px; }


/* Media Query */

@media only screen and (max-width: 800px) {
    .main-container {
        overflow-x: hidden;
    }
    .title-bar {
        border-radius: 0px;
    }
    .title-text {
        font-size: 70px;
    }
    .hero-image {
        width: 70%;
    }
    .hero-image.one {
        left: -3%;
    }
    .hero-image.two {
        top: 22%;
        left: 15%;
    }
    .hero-image.three {
        right: -10%;
    }
    .nav {
        border-radius: 0px;
    }
}


@media only screen and (max-width: 640px) {
    .social-container {
        padding-top: 0px;
        width: 100%;
        max-width: 340px;
        float: none;
        overflow: auto;
        margin: 0 auto;
    }
    .title-social{
        width: calc((100% - 100px) / 4);
        height: 30px;
        margin-top: 10px;
    }
}